# Ignore Visual Studio temporary files, build results, and user-specific files

## Build Results
bin/
obj/
**/bin/
**/obj/

## Visual Studio
.vs/
*.user
*.suo

## NuGet Packages
*.nupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

## VS Code
.vscode/

## Logs and Databases
*.log
*.db
*.sqlite
*.db-shm
*.db-wal
*.vsidx

## Others
*.cache
*.json.cache
*.tmp
*.FileListAbsolute.txt
*.pdb

# Rider
.idea/
*.sln.iml
